body {
    background-color: rgb(2, 2, 2);
}

.containerheader {
    text-align: center;
    
}

.menu {
    background-color: rgba(202, 218, 53, 0.041);
}

.menu > ul {
    display: flex;
    justify-content: space-evenly;   
    padding: 10px 10px 30px 10px;
    flex-wrap: wrap;
}

.menu > ul > li {   
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(202, 218, 53, 0.041);
    padding: 10px; 
    margin: 10px 20px;
    border-radius: 10px;
    display: inline;
    color: black;
    font-weight: bolder;
}

.menu > ul > li:hover {
    padding: 10px;
    background-color: rgba(255, 255, 0, 0.856);
    border-radius: 10px;
}

.containerheader{
    padding-bottom: 30px;
}


a {
    font-weight: bolder;
    text-decoration: none;
    color: black;
    margin: 0px 10px;
    padding: 5px;
    border-radius: 5px;
}

a:hover {
    font-weight: bolder;
    background-color: black;
    color: yellow;
    margin: 0px 10px;
    padding: 5px;
    border-radius: 5px;
}

.logo > img {
    max-width: 100%;
}

.containermain {
    background-color: rgba(202, 218, 53, 0.041);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
}

ul {
    list-style: none;
}

#social {
    max-width: 100%;
    background-color:rgba(202, 218, 53, 0.041);
    color: black;    
    border-radius: 10px;
    padding: 10px;
    margin: 5px;    
}

#social:hover {
    background-color: #cada35;
    color: black;    
    border-radius: 10px;
    padding: 10px;  
}

.skills {
    text-align: center;
    font-size: 1.3EM;
    background-color:rgba(202, 218, 53, 0.041);
    color: black;    
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: 5px;  
}

.skills > h1 {
    margin: 20px;
}

.skills > img {
    filter: brightness(30%);
    max-width: 100px;
}

.skills:hover {
    background-color: rgb(201, 218, 53);
}

.skills > img:hover {
    filter: brightness(100%);
}


.rodape {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(0, 0, 0);
    background-color: rgba(202, 218, 53, 0.041);
    margin: 10px 0px 0px 0px; 
    padding: 1px;
}

.rodape:hover {
    color:rgb(0, 0, 0);
    background-color: rgb(202, 218, 53);
    
}

.rodape > p {
    font-weight: bolder;
    margin: 0px;
    text-align: center;
}



